<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <style>
      body{ background-color: #F6FFDE; } h1,label{ color: #AAC8A7; } h1{
      margin-top: 40px; margin-bottom: 30px; margin-left: 32%; margin-right:
      32%; } #f4{ border: solid #AAC8A7;border-radius: 20px; padding: 20px; }
    </style>
  </head>
  <body>
    <h1>edit {{subject.name}}</h1>

    <form id="f4" action="/subjects/{{subject._id}}?_method=PUT" method="POST">
      {{! Name }}
      <div>
        <label for="">Name</label>

        <input
          type="text"
          class="form-control"
          name="name"
          value="{{subject.name}}"
        />
      </div>
      {{! Code }}
      <div>
        <label for="">Code</label>

        <input
          type="text"
          class="form-control"
          name="code"
          value="{{subject.code}}"
        />
      </div>
      <div>
        <label for="">Age</label>
        <input
          type="text"
          class="form-control"
          name="age"
          value="{{subject.age}}" required
        />
      </div>
      {{! Department }}
      <div>
        <label for="">Department</label>

        <select name="department" id="" class="form-select">
          {{#each departments}}
            <option value="{{_id}}">{{name}}</option>
          {{/each}}
        </select>
      </div>

      <div class="mt-3">
        <button class="btn btn-outline-secondary" type="submit">save</button>
      </div>

    </form>
  </body>
</html>